html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#app {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: #009688;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

#menu {
  display: flex;
  justify-content: space-around;
}

.menuItem {
  background-color: #8a0808;
  color: white;
  flex-basis: 0;
  flex-grow: 1;
  padding: 30px;
  text-align: center;
}

.menuItem:hover {
  cursor: pointer;
  background-color: #bf3939;
}

button.delete {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

button.delete:hover {
  cursor: pointer;
  background-color: #bf3939;
  color: white;
}

.active {
  background-color: #bf3939;
  color: white;
}

#addRecipe,
#book {
  margin: 50px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.catButton {
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px;
  margin: 1px;
}

#submit,
.catButton {
  background-color: #dedede;
}

#submit:hover,
.catButton:hover {
  cursor: pointer;
  background-color: #c7c7c7;
}

@media only screen and (min-width: 1000px) {
  #addRecipe,
  #book {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
